/* Estilos form 1 y 2 */
.bg-user {
  background-image: url(../assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-user-modal {
  background-image: url(../assets/images/cup-code.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h4 {
  color:  #45d6a9;
}

.check {
  width: 150px;
  margin: 3.5em 0;
}

.btn, .btn-large, .btn-flat {
  margin-top: 1.5em;
  display: block !important;
}

p {
  color: #fff;
}

.back {
  color: #45d6a9;
  font-size: 20px; 
}

.center-items-h {
  padding: 0 15% 0 15%; 
}

div.center-items-v {
  margin: 2% 0 1% 0;
  padding-top: 2% !important;
}

.modal {
  width: 33% !important;
  max-height: 85% !important;
  border-radius: 15%;
}

.modal-content {
  padding: 20px 24px 20px 24px;
}

@media only screen and (min-width: 1200px) {
  .opacity {
    background-color: rgba(31, 31, 31, 0.6);
  }

  .bg-user {
    background-image: url(../assets/images/developers.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 992px) {
  .opacity {
    background-color: rgba(31, 31, 31, 0.6);
  }

  .bg-user {
    background-image: url(../assets/images/developers.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 601px) {
  .opacity {
    background-color: rgba(31, 31, 31, 0.6);
  }

  .bg-user {
    background-image: url(../assets/images/developers.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}