/* Estilos form 1 y 2 */
.bg-user {
  background-image: url(../assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color:  #45d6a9;
}

.check {
  width: 150px;
  margin: 3.5em 0;
}

.btn, .btn-large, .btn-flat {
  margin-top: 1.5em;
  display: block !important;
}

p {
  color: #fff;
}

.back {
  color: #45d6a9;
  font-size: 20px; 
}