<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/ed-grid.min.css">
  <title>home</title>
</head>

<body class="">

  <div class="ed-container">  
    <img  class="circle ed-item s3" src="http://lorempixel.com/400/200" alt="">
    <div class="ed-item s4"> Inicio</div>
  </div>




  <!-- nav -->
  <ul class="ed-menu s-horizontal nav-bar">
    <li>
      <a href="#">Item</a>
    </li>
    <li>
      <a href="#">Item</a>
    </li>
    <li>
      <a href="#">Item</a>
    </li>
    <li>
      <a href="#">Item</a>
    </li>
  </ul>
  <button id="buton">click</button>



  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
  <!-- <script src="../vendors/materialize/js/materialize.min.js"></script> -->
  <script src="../js/home.js"></script>
</body>

</html>