

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://opengraphprotocol.org/schema/">
<head>

	<base href="https://www.video2brain.com/mx/" />
<script type="text/javascript">
var utag_data = {};

var ajtok = "N0NEOUFCRTQtREVFOS00NDlBLUQyN0I3RTYwOTEwRjMzREU=";

if (top.location != location){
	top.location.replace(location);
}


	var page_entry_limit = "48";
</script> <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cuenta de usuario gratuita</title>

	<meta name="description" content="" /> 

	<meta name="keywords" content="" />
<meta property="og:image" content="https://images-v2b.netdna-ssl.com/logo/v2b_600_es.jpg"/>

<meta http-equiv="Content-Language" content="es">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />


<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


<meta name="apple-itunes-app" content="app-id=460343904" />
<meta name="google-play-app" content="app-id=com.video2brain" />
<meta name="msApplication-ID" content="app-id=video2brain/b91ea917-9818-4bdf-877e-98f2c6e12141" />

	<link rel="shortcut icon" href="https://www.video2brain.com/mx/favicon.ico" />

                    <link rel="alternate" hreflang="de" href="https://www.video2brain.com/de/registrierung" />
                
                    <link rel="alternate" hreflang="en" href="https://www.lynda.com/signup" />
                
                    <link rel="alternate" hreflang="fr" href="https://www.video2brain.com/fr/senregistrer" />
                
                    <link rel="alternate" hreflang="ja" href="https://www.lynda.jp/create-an-account" />
                <link rel="canonical" href="https://www.video2brain.com/mx/registrarse" /> 	
    <link href="https://css-v2b.netdna-ssl.com/animations.css" rel="stylesheet" type="text/css" />
  	<script src="//apis.google.com/js/client:platform.js" async defer></script>
  	<style>@import url("//hello.myfonts.net/count/2d9a0f");
  	</style>

		<link href="https://css-v2b.netdna-ssl.com/main_compressed_live.min.css?v=3120" rel="stylesheet" type="text/css" /> 
	
	<script type="text/javascript" src="https://javascript-v2b.netdna-ssl.com/main_compressed_live.min.js?v=3120"></script>



<script type="text/javascript">
	window.___gcfg = {
    	lang: 'es'
    };
    (function() {
    	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 	})();
 	lynda_theme = false;
</script>

<!--[if lt IE 9]>
   <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('footer');
   </script>
   <style>header,nav,footer{display:block;}</style>
<![endif]-->

    <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1176536-5']);

            _gaq.push(['_gat._anonymizeIp']);
            _gaq.push(['_setCampNOKey', 'ga_nooverride']);
            

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;                
                ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        var cookie_domain = (typeof(google_user_id) === 'undefined') ? 'auto' : {'userId': google_user_id};

        ga('create', 'UA-1176536-57', cookie_domain);
        ga('require', 'displayfeatures');
        ga('require', 'ec');
        ga('set', 'anonymizeIp', true);
        ga('set', '&cu', 'USD'); // site currency
    </script>


</head>



<body class="user_register-template page-user_register">

<div id="consent_blackbar"></div>




<div id="page" class=" responsive">
	
<style type="text/css">
    .logged{
        color:#ffffff!important;
        background: #e96003;
        background: -webkit-gradient(linear, left top, left bottom, from(#e96003), to(#b44a02));
        background: -moz-linear-gradient(top,  #e96003,  #b44a02);
    }   
    #main_menu_left .menu-active, #main_menu_left .menu-active:visited {
        color:#e96003; 
    }
    .sub_menu ul li a.active, .sub_menu ul li a.active:visited {
        color:#C65102 !important; 
    }
    .new-product .empty {
        background:url(https://images-v2b.netdna-ssl.com/band/mx/band_new_blue_tile.png) 0 0 no-repeat;
    }
    .update-product .empty {
        background:url(https://images-v2b.netdna-ssl.com/band/mx/band_update_blue_tile.png) 0 0 no-repeat;
    }
</style>




<div id="fb-root"></div>
<script type="text/javascript" language="javascript">  
    window.fbAsyncInit = function() {
        FB.init({
            appId: '974756025868741'
            ,status: true
            ,cookie: true
            ,xfbml: true
            ,version: 'v2.2'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_ES/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    
    
        Translations.lbl_add_favourite = "A Marcadores";
        Translations.lbl_is_favourite = "Seleccionado";
	

    jQuery(document).ready(function(){
        
        Path.base_url = "https://www.video2brain.com/mx/";
        Video.access_exp = 1515473969;
        Video.access_hash = "19bdc4813d36ff39833da63935adc869";

        Bookmark.init();
        User.logged_in = false;
        
        


        $(".price-additional-info-detail").text('Los\x20precios\x20mostrados\x20no\x20incluyen\x20IVA');


        $featured_video_container = $(".featured-video-container");
        if($featured_video_container.length){           
            var date_video_release = new Date($featured_video_container.attr("data-release-date"));
            var current_date = Date.now();
            if (isFinite(current_date) && isFinite(date_video_release)){
                if ((current_date - date_video_release) < (1000*60*60*24)){
                    $featured_video_container.show();
                }
            }
        }

        Product.initProductItems();
        Videos.initVideoItems();

        var user_settings = {};
        
            user_settings["videoplayer_type"] = 0;
        
                Product.prepareOverlay();
                 

        var mobile_webkit = jQuery.browser.webkit && (navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i));
        if(mobile_webkit)
            jQuery(".search-button").hide();

        jQuery(".default-form").jqTransform();
        jQuery("a[href^=#]").each(function(i) {
            if(jQuery(this).attr("onclick") === undefined) {
                jQuery(this).attr("onclick", "return false;");
            }
        });

        // =====================================
        // Social INIT
        // =====================================
        FBbridge.Settings({
            scopes: "email"
        });

        Gbridge.Settings({
            client_id: "550930159012-poknl2kdclu3gv8rcj82rc9f0cd1hqb8.apps.googleusercontent.com",
            scopes: "https://www.googleapis.com/auth/plus.profile.emails.read"
        });
    });
</script>




   	<div id="mainwrapper" class="full-width no-footer-margin">
	
		
		<div id="buy_overlay" class="overlay-content" style="display:none"> 
			<div class="buying-options-overlay"><div class="ajax-loading">&nbsp;</div></div>	
	    </div>
	
<script type="text/javascript">
var ajftok = "N0NFMDU2NTgtQjUxMS1BMEY1LUQ3NkZBODRENkY2Q0JCQzc=";
</script> 

        <div class="grand-feature-refresh has-custom-content">
            <div  class="section-header" 
                 style="height: 100%;background: url(https://dynamicimagesmx-v2b.netdna-ssl.com/grand_feature/cover_berg1.jpg?v=1504546550) no-repeat center 0 ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;" data-min="0" data-max="0" data-img-width="1920" data-img-height="1200"  data-set-min-height="1" data-center-content="0">

                

                <div class="section-wrapper">                   
                    

                    <div class="section-info ">
                        
        <script type="text/javascript" src="https://javascript-v2b.netdna-ssl.com/jquery/localization/messages_mx.js"></script>
    
            <div class="user-login-register default-form ">
                
                <a href="https://www.video2brain.com/mx/">
                    
                        <img class="v2b-logo" src="https://images-v2b.netdna-ssl.com/v2b_logo.png" alt="video2brain" />
                     
                </a>
            

        <form name="register" id="register" action="" method="post">
                         
        <h1>Regístrate gratis y podrás ver miles de videos gratuitos.</h1>
    
            
            <div class="general-error-message error social-error"></div>

            <a id="btn-linkedin-login" class="btn-social-login icon-linkedin" href="javascript:" onClick="Inbridge.Events.SignIn('https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=86auu1ll7llbm7&redirect_uri=https://www.video2brain.com/mx/socialconnect/linkedin?action=register&state=50305260C5AEB0061132B37C40E7CF03358D7E7&scope=r_basicprofile r_emailaddress');">Registrarse con LinkedIn</a>
            <a id="btn-facebook-login" class="btn-social-login icon-facebooklogin" href="javascript:void(0)" onclick="FBbridge.Events.Register(event)">Registrarse con Facebook</a>
            <a id="btn-google-login" class="btn-social-login icon-googlelogin" href="javascript:void(0)" onclick="Gbridge.Events.Register(event)">Registrarse con Google+</a>
            
            <div id="sl-or">o</div>
            
               
        <span class="action-text">Regístrate con tu dirección de email</span>

        <div class="input_field"> 
            <a id="register_submit_btn" class="btn-submit btn blue" href="javascript:" onClick="UserConnect.API.RegisterForm(); return false;">Registrarme</a>
        </div>
    <input type="hidden" name="sectoken" value="EEAE4A4B91AC8F30C9A6F075C5A85F87"/>
        </form>

        
        <div>
            <p>¿Ya tienes cuenta? <a href="https://www.video2brain.com/mx/login" target="_self">Entrar</a></p>
        </div>
    
            </div>
        
            <script id="tmpl-connect-registration-form" type="text/template">
                
                <a href="https://www.video2brain.com/mx/">
                    
                        <img class="v2b-logo" src="https://images-v2b.netdna-ssl.com/v2b_logo.png" alt="video2brain" />
                     
                </a>
            

        <form name="register" id="complete-register" action="" method="post">
                         
        <h1>Regístrate con tu dirección de email</h1>
    
            
            <div class="general-error-message error social-error">Por favor, compruebe los datos introducidos.</div>

               
        <div id="register-input-data">
            <div class="select-salutation">
                <select id="salutation" name="salutation" style="width:360px; margin-bottom:">
                    <option value="Sr.">Sr.</option>
                    <option value="Sra.">Sra.</option>
                </select>
            </div>
            
                <div class="input_field"><input class="required populate" type="text" data-title="Nombre" value="" name="firstname" maxlength="100" /></div>
                
                <div class="input_field"><input class="required populate" type="text" data-title="Apellidos" value="" name="lastname" maxlength="100" /></div>
                

            <div class="input_field">
                <input class="required email populate" type="text" value="" data-title="Dirección de email" name="email" maxlength="100" id="email" />
            </div>

            <div class="input_field" id="user-password">
                <input class="required" type="password" maxlength="30" name="userpassword" id="userpassword" placeholder="Contraseña" />
            </div>

               
        <div style="padding-left: 21px;">
            <input type="checkbox" name="accept_terms" id="accept_terms" value="1" class="crirHiddenJS" />
            <label for="accept_terms"><span><p>He leído y acepto los <a href="https://www.video2brain.com/mx/cgv" target="_blank">términos y condiciones</a> y la <a href="https://www.video2brain.com/mx/politica-de-privacidad" target="_blank">política de privacidad</a>.</p> </span></label>
            <div class="clearer"><!-- --></div>
        </div>
       
        <div style="padding-left: 21px;" class="accept_newsletter">
            <input type="checkbox" name="accept_newsletter" id="accept_newsletter" value="1" class="crirHiddenJS" />
            <label for="accept_newsletter">
                <span>Te recomendamos que actives esta opción. En nuestra newsletter y mails promocionales te haremos llegar actualizaciones, novedades y ofertas especiales.</span>
                <span class="small">Si no te interesa, puedes desactivarla más adelante.</span>
            </label>
            <div class="clearer"><!-- --></div>
        </div>
    
        </div>
       
        <div class="input_field"> 
            <a id="register_submit_btn" class="btn-submit btn blue" href="javascript:">Registrarme</a>
        </div>
    <input type="hidden" name="sectoken" value="EEAE4A4B91AC8F30C9A6F075C5A85F87"/>
        </form>

        
        <div class="reg_login_links">
            <a href="https://www.video2brain.com/mx/registrarse" class="back">Atrás</a>
            <div><p>¿Ya tienes cuenta? <a href="https://www.video2brain.com/mx/login" target="_self">Entrar</a></p></div>
        </div>
    
            </script>
          
        <script id="tmpl-connect-form-succeeded" type="text/template">
            
        <div class="registration-succeeded">
            
                <a href="https://www.video2brain.com/mx/">
                    
                        <img class="v2b-logo" src="https://images-v2b.netdna-ssl.com/v2b_logo.png" alt="video2brain" />
                     
                </a>
            

            <h1>¡Gracias por registrarte!</h1>

            <p>Próximamente recibirás un e-mail con el enlace de activación. Con ese enlace, puedes confirmar tu registro. <br /> Por favor, revisa tu bandeja de entrada ahora .<br /> Si no recibes este e-mail, por favor, comprueba si tu filtro anti-spam lo ha bloqueado.</p>

            <div class="mail-sent"></div>
        </div>
    
        </script>
    
            <script id="tmpl-confirmation-facebook-form" type="text/template">
                
                <a href="https://www.video2brain.com/mx/">
                    
                        <img class="v2b-logo" src="https://images-v2b.netdna-ssl.com/v2b_logo.png" alt="video2brain" />
                     
                </a>
            

        <form name="register" id="register" action="" method="post">
                         
        <h1>Mit Facebook registrieren</h1>
                 
        <div class="confirmation-logo icon-facebooklogin"></div>
    

            <div class="general-error-message error social-error"></div>

               
        <div style="padding-left: 21px;">
            <input type="checkbox" name="accept_terms" id="accept_terms" value="1" class="crirHiddenJS" />
            <label for="accept_terms"><span><p>He leído y acepto los <a href="https://www.video2brain.com/mx/cgv" target="_blank">términos y condiciones</a> y la <a href="https://www.video2brain.com/mx/politica-de-privacidad" target="_blank">política de privacidad</a>.</p> </span></label>
            <div class="clearer"><!-- --></div>
        </div>
       
        <div style="padding-left: 21px;" class="accept_newsletter">
            <input type="checkbox" name="accept_newsletter" id="accept_newsletter" value="1" class="crirHiddenJS" />
            <label for="accept_newsletter">
                <span>Te recomendamos que actives esta opción. En nuestra newsletter y mails promocionales te haremos llegar actualizaciones, novedades y ofertas especiales.</span>
                <span class="small">Si no te interesa, puedes desactivarla más adelante.</span>
            </label>
            <div class="clearer"><!-- --></div>
        </div>
       
        <div class="input_field"> 
            <a class="btn-submit btn blue" href="javascript:" onClick="UserConnect.Register.Facebook(); return false;">Registrarme</a>
        </div>
    
        </form>

        
        <div class="reg_login_links">
            <a href="https://www.video2brain.com/mx/registrarse" class="back">Atrás</a>
            <div><p>¿Ya tienes cuenta? <a href="https://www.video2brain.com/mx/login" target="_self">Entrar</a></p></div>
        </div>
    
            </script>
        
            <script id="tmpl-confirmation-google-form" type="text/template">
                
                <a href="https://www.video2brain.com/mx/">
                    
                        <img class="v2b-logo" src="https://images-v2b.netdna-ssl.com/v2b_logo.png" alt="video2brain" />
                     
                </a>
            

        <form name="register" id="register" action="" method="post">
                         
        <h1>Mit Google Plus registrieren</h1>
                 
        <div class="confirmation-logo icon-googlelogin"></div>
    

            <div class="general-error-message error social-error"></div>

               
        <div style="padding-left: 21px;">
            <input type="checkbox" name="accept_terms" id="accept_terms" value="1" class="crirHiddenJS" />
            <label for="accept_terms"><span><p>He leído y acepto los <a href="https://www.video2brain.com/mx/cgv" target="_blank">términos y condiciones</a> y la <a href="https://www.video2brain.com/mx/politica-de-privacidad" target="_blank">política de privacidad</a>.</p> </span></label>
            <div class="clearer"><!-- --></div>
        </div>
       
        <div style="padding-left: 21px;" class="accept_newsletter">
            <input type="checkbox" name="accept_newsletter" id="accept_newsletter" value="1" class="crirHiddenJS" />
            <label for="accept_newsletter">
                <span>Te recomendamos que actives esta opción. En nuestra newsletter y mails promocionales te haremos llegar actualizaciones, novedades y ofertas especiales.</span>
                <span class="small">Si no te interesa, puedes desactivarla más adelante.</span>
            </label>
            <div class="clearer"><!-- --></div>
        </div>
       
        <div class="input_field"> 
            <a class="btn-submit btn blue" href="javascript:" onClick="UserConnect.Register.Google(); return false;">Registrarme</a>
        </div>
                 
        <input type="hidden" name="code" id="code" value="{code}">
    
        </form>

        
        <div class="reg_login_links">
            <a href="https://www.video2brain.com/mx/registrarse" class="back">Atrás</a>
            <div><p>¿Ya tienes cuenta? <a href="https://www.video2brain.com/mx/login" target="_self">Entrar</a></p></div>
        </div>
    
            </script>
        
            <script id="tmpl-confirmation-linkedin-form" type="text/template">
                
                <a href="https://www.video2brain.com/mx/">
                    
                        <img class="v2b-logo" src="https://images-v2b.netdna-ssl.com/v2b_logo.png" alt="video2brain" />
                     
                </a>
            

        <form name="register" id="register" action="" method="post">
                         
        <h1>Mit LinkedIn registrieren</h1>
                 
        <div class="confirmation-logo icon-linkedin"></div>
    

            <div class="general-error-message error social-error"></div>

               
        <div style="padding-left: 21px;">
            <input type="checkbox" name="accept_terms" id="accept_terms" value="1" class="crirHiddenJS" />
            <label for="accept_terms"><span><p>He leído y acepto los <a href="https://www.video2brain.com/mx/cgv" target="_blank">términos y condiciones</a> y la <a href="https://www.video2brain.com/mx/politica-de-privacidad" target="_blank">política de privacidad</a>.</p> </span></label>
            <div class="clearer"><!-- --></div>
        </div>
       
        <div style="padding-left: 21px;" class="accept_newsletter">
            <input type="checkbox" name="accept_newsletter" id="accept_newsletter" value="1" class="crirHiddenJS" />
            <label for="accept_newsletter">
                <span>Te recomendamos que actives esta opción. En nuestra newsletter y mails promocionales te haremos llegar actualizaciones, novedades y ofertas especiales.</span>
                <span class="small">Si no te interesa, puedes desactivarla más adelante.</span>
            </label>
            <div class="clearer"><!-- --></div>
        </div>
       
        <div class="input_field"> 
            <a class="btn-submit btn blue" href="javascript:" onClick="UserConnect.Register.Linkedin(); return false;">Registrarme</a>
        </div>
    
            <input type="hidden" name="state" id="state" value="50305260C5AEB0061132B37C40E7CF03358D7E7">
        
        </form>

        
        <div class="reg_login_links">
            <a href="https://www.video2brain.com/mx/registrarse" class="back">Atrás</a>
            <div><p>¿Ya tienes cuenta? <a href="https://www.video2brain.com/mx/login" target="_self">Entrar</a></p></div>
        </div>
    
            </script>
        
            <script id="tmpl-connect-facebook-form" type="text/template">
                
                <a href="https://www.video2brain.com/mx/">
                    
                        <img class="v2b-logo" src="https://images-v2b.netdna-ssl.com/v2b_logo.png" alt="video2brain" />
                     
                </a>
            

        <form name="register" id="register" action="" method="post">
                         
        <h1>Enlazar la cuenta</h1>
                 
        <span class="action-text">Enlazar la cuenta de video2brain con tu cuenta en Facebook</span>
    

            <div class="general-error-message error social-error"></div>

            <div>
                <input type="text" value="{email}" placeholder="email" disabled />
                <input type="hidden" name="email" value="{email}" id="user_email" />
            </div>
            <div id="user-password"><input type="password" maxlength="30" name="userpassword" id="user_password" placeholder="Contraseña"></div>

               
        <input type="submit" id="user-connect-submit" class="btn-submit btn blue" style="font-size:16px;letter-spacing:0px;" value="Establecer acceso con Facebook" onclick="FBbridge.Events.ConnectWithCredentials(); return false;" />
    
        </form>

        
        <div class="reg_login_links">
            <a href="https://www.video2brain.com/mx/registrarse" class="back">Atrás</a>
            <div><p>¿Ya tienes cuenta? <a href="https://www.video2brain.com/mx/login" target="_self">Entrar</a></p></div>
        </div>
    
            </script>
        
            <script id="tmpl-connect-google-form" type="text/template">
                
                <a href="https://www.video2brain.com/mx/">
                    
                        <img class="v2b-logo" src="https://images-v2b.netdna-ssl.com/v2b_logo.png" alt="video2brain" />
                     
                </a>
            

        <form name="register" id="register" action="" method="post">
                         
        <h1>Enlazar la cuenta</h1>
                 
        <span class="action-text">Enlazar la cuenta de video2brain con tu cuenta en Google+</span>
    

            <div class="general-error-message error social-error"></div>

            <div>
                <input type="text" value="{email}" placeholder="email" disabled />
                <input type="hidden" name="email" value="{email}" id="user_email" />
            </div>
            <div id="user-password"><input type="password" maxlength="30" name="userpassword" id="user_password" placeholder="Contraseña"></div>

               
        <input type="submit" id="user-connect-submit" class="btn-submit btn blue" style="font-size:16px;letter-spacing:0px;" value="Establecer acceso con Google+" onclick="Gbridge.Events.ConnectWithCredentials(); return false;" />
    
        </form>

        
        <div class="reg_login_links">
            <a href="https://www.video2brain.com/mx/registrarse" class="back">Atrás</a>
            <div><p>¿Ya tienes cuenta? <a href="https://www.video2brain.com/mx/login" target="_self">Entrar</a></p></div>
        </div>
    
            </script>
        
            <script id="tmpl-connect-linkedin-form" type="text/template">
                
                <a href="https://www.video2brain.com/mx/">
                    
                        <img class="v2b-logo" src="https://images-v2b.netdna-ssl.com/v2b_logo.png" alt="video2brain" />
                     
                </a>
            

        <form name="register" id="register" action="" method="post">
                         
        <h1>Enlazar la cuenta</h1>
                 
        <span class="action-text">Enlazar la cuenta de video2brain con tu cuenta en LinkedIn</span>
    

            <div class="general-error-message error social-error"></div>

            <div>
                <input type="text" value="{email}" placeholder="email" disabled />
                <input type="hidden" name="email" value="{email}" id="user_email" />
            </div>
            <div id="user-password"><input type="password" maxlength="30" name="userpassword" id="user_password" placeholder="Contraseña"></div>

               
        <input type="submit" id="user-connect-submit" class="btn-submit btn blue" style="font-size:16px;letter-spacing:0px;" value="Establecer acceso con LinkedIn" onclick="Inbridge.Events.ConnectWithCredentials(); return false;" />
    
        </form>

        
        <div class="reg_login_links">
            <a href="https://www.video2brain.com/mx/registrarse" class="back">Atrás</a>
            <div><p>¿Ya tienes cuenta? <a href="https://www.video2brain.com/mx/login" target="_self">Entrar</a></p></div>
        </div>
    
            </script>
        <script>initUserLoginRegister();</script>   
                    </div>
                    
                </div>

                

            </div>
        </div>

        <script>
            $(window).trigger('grandfeature-js');
        </script>
    
    </div>
    
</div>
<footer id="footer">
    <div id="footer-inner" class="container">
        <div class="row">
            
            	<div class="navigation-areas navigation-area-area-footer">
                    
                                <div class="navigation-area col-sm-3">
                                
                        		<ul>
    						
                        <li><a href="https://www.video2brain.com/mx/cursos" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'Cursos')">Cursos</a></li>
                        
                        <li><a href="https://www.video2brain.com/mx/suscribete-ahora-1" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'Suscr\xEDbete')">Suscríbete</a></li>
                        
                        <li><a href="https://www.video2brain.com/mx/solucione" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'Multiusuario')">Multiusuario</a></li>
                        
                        <li><a href="https://www.video2brain.com/mx/formadores" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'Formadores')">Formadores</a></li>
                        
                                
                            
                        </ul></div> 
                                <div class="navigation-area col-sm-3">
                                
                        		<ul>
    						
                        <li><a href="https://www.video2brain.com/mx/soporte/faq-preguntas-frecuentes" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'FAQ')">FAQ</a></li>
                        
                        <li><a href="https://www.video2brain.com/mx/soporte/contacto" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'Contacto')">Contacto</a></li>
                        
                        <li><a href="https://www.video2brain.com/mx/soporte" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'Soporte')">Soporte</a></li>
                        
                        <li><a href="https://www.video2brain.com/mx/apps" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'Apps')">Apps</a></li>
                        
                                
                            
                        </ul></div> 
                                <div class="navigation-area col-sm-3">
                                
                        		<ul>
    						
                        <li><a href="https://www.video2brain.com/mx/responsable" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'Responsable')">Responsable</a></li>
                        
                        <li><a href="https://www.video2brain.com/mx/cgv" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'CGV')">CGV</a></li>
                        
                        <li><a href="https://www.video2brain.com/mx/politica-de-privacidad" target="_self" onClick="Tracking.Events.FooterMenu('Click', 'Pol\xEDtica\x20de\x20privacidad')">Política de privacidad</a></li>
                        
                                <li><a id="country-choose-header" class="international-link" href="javascript:" onClick="jQuery('#country-choose').eq(0).trigger('click');">Internacional </a></li>
                            
                        </ul></div> 
                </div>
            
            <a id="country-choose" rel="nofollow" href="#country_overlay"></a>
        
            <div id="footer-info" class="col-sm-4">
                
                    <ul class="social-icons">
                        <li><a class="icon-linkedin_social" href="https://www.linkedin.com/showcase/linkedin-learning/" target="_blank">video2brain @ Linkedin</a></li><li><a class="icon-facebook" href="https://www.facebook.com/LinkedInLearningES/" target="_blank">video2brain @ Facebook</a></li><li><a class="icon-twitter" href="http://twitter.com/LI_Learning_ES" target="_blank">video2brain @ Twitter</a></li><li><a class="icon-youtube" href="http://www.youtube.com/user/mivideo2brain" target="_blank">video2brain @ YouTube</a></li><li><a class="icon-google" href="https://plus.google.com/107705415153154756592" rel="publisher" target="_blank">video2brain @ Google+</a></li></ul>                    
                
            </div>
            <div class="clearer"></div>
            <br />
            
                <div class="col-sm-12">
                    <div id="footer-copyright">
                        <div class="col-sm-10 col-xs-12 copyright-text">
                            Copyright 2018 LinkedIn Austria GmbH. Todos los derechos reservados. video2brain es una marca registrada de LinkedIn Austria GmbH.
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</footer>

<div id="bookmark-tooltip" class="tooltip default-tooltip" style="display:none"><p>Haz log-in para añadir marcadores.</p></div>    


	<div id="country_overlay" class="overlay-content" style="display:none"> 
		<div class="country-overlay">
        	<h3 class="special"></h3>
            <div><p> </p>
<p>Basándonos en tus preferencias de idioma y tu ubicación, te hemos redirigido a "<b>video2brain Espa&ntilde;ol</b>".</p>
<p> </p></div>

            
				<div class="save-info">¿Quieres que siempre te desviemos a esta página en el futuro?</div>
            	<div class="btn-wrapper">
            	<a href="javascript:User.saveCountryChoice('mx')" class="button blue">Ir a video2brain Espa&ntilde;ol</a>
            	</div>
			

            <div class="clearer"><!-- --></div>
            <div class="international-select-wrapper">
            	<h4 class="special">Other sites. Andere Seiten. Autres sites.</h4>
				<ul>
            		<li><a href="http://www.video2brain.com/de/save-redirect.htm">video2brain Deutsch</a></li> <li><a href="http://www.lynda.com/video-brain-training-tutorials/1569-0.html">English language video2brain courses on lynda.com</a></li> <li><a href="http://www.video2brain.com/fr/save-redirect.htm">video2brain Fran&ccedil;ais</a></li>
				</ul>
			</div>
		</div>
    </div>
    <script type="text/javascript" language="javascript">
		jQuery(document).ready(function(){
			jQuery("#country-choose").fancybox({ width: 460, maxWidth: 460, minHeight : 200, 
				beforeShow: function() {
						$('.fancybox-overlay').addClass('international-overlay');
				}
			});

				
		});
	</script>

    <script>
            
        
        $(document).ready(function(){
            $.smartbanner({
                icon: "https://images-v2b.netdna-ssl.com/video2brain-200x200.jpg"
                ,title: "video2brain"
                ,author: "LinkedIn Austria GmbH"
                ,button: "Mostrar"
                ,appStoreLanguage: "es"
                ,inAppStore: "En App Store"
                ,inGooglePlay: "En Google Play"
                ,inWindowsStore: "En Windows Store"
                ,price: "GRATIS"
            });
        });
    </script>

	<script type="text/javascript">
			_gaq.push(['_trackPageview']);			
	</script>

	<script>
        Tracking.Pageview.View();
	</script>

</body>
</html> 